[submodule "wet-boew-dist"]
	path = wet-boew-dist
	url = https://github.com/wet-boew/wet-boew-dist
[submodule "themes-dist"]
	path = react-website/public/themes-dist
	url = https://github.com/wet-boew/themes-dist
	branch = GCWeb
